{% extends '::base.html.twig' %}
{% block title %}Advanced Weather - Contact us{% endblock %}

{% block body %}

    <div class="hero" data-bg-image="/images/background.jpg" style="background-image: url('/images/background.jpg');">
        <div class="container">
            {% block beadcrumbs %}
                {% include "::inc/breadcrumbs.html.twig" %}
            {% endblock %}
        </div>
    </div>

    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">

                <div class="forecast-header">
                    <label>Contact us</label>
                </div>

                <div class="forecast-content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal col-lg-offset-2'}}) }}
                    <div class="form-group required">
                        <label for="email" class="col-sm-2 col-lg-2 control-label">Email:</label>
                        <div class="col-sm-8 col-lg-6">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="pass" class="col-sm-2 col-lg-2 control-label">Message:</label>
                        <div class="col-sm-8 col-lg-6">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 col-lg-2"></div>
                            <div class="col-sm-8 col-lg-6 center-block">
                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary center-block'}}) }}
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
