{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Register</h2></div>
    <div class="panel-body">
    <div class="col-md-offset-3 message-offset">
    <h3 col-md-offset-1>
        {{ 'registration.check_email'|trans({'%email%': user.email}) }}
    </h3>
    <h3>
       {{ 'registration.check_email_explanation'|trans }}
    </h3>
</div>
    </div>
</div>
{% endblock fos_user_content %}
