{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="panel panel-default">
    <div class="panel-heading"><h2 class="panel-title">Register</h2> </div>
    <div class="col-md-offset-4 message-offset">
        <h5>
            {{ 'registration.confirmed'|trans({'%username%': user.username}) }}
        </h5>
    </div>
</div>
{% endblock fos_user_content %}
