{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% endif %}
    </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% if app.request.get('_route') !='fos_user_registration_check_email' %}
            {% for message in messages %}
                <div class="flash-message">
                    <div class="alert alert-block alert-success col-md-8" role="alert">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

        {% block fos_user_content %}
        {% endblock fos_user_content %}
{% endblock %}
