{% extends 'base.html.twig' %}

{% block title %}{{ "Advanced Weather" }}{% endblock %}

{% block body %}

    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        {% endif %}
    </div>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% if app.request.get('_route') !='fos_user_registration_check_email' %}
                {% for message in messages %}
                    <div class="flash-message">
                        <div class="alert alert-block alert-success col-md-8" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="hero" data-bg-image="/images/background.jpg" style="background-image: url('/images/background.jpg');">
        <div class="container">
            {% block beadcrumbs %}
                {% include "::inc/breadcrumbs.html.twig" %}
            {% endblock %}
        </div>
    </div>
    {% block fos_user_content %}

    {% endblock fos_user_content %}
{% endblock %}
