<nav class="site-header">
    <div class="container">

        <a class="branding" href="{{ path('homepage') }}">
            <img src="/images/icons/icon-12.svg" alt="" width="48">
            <div class="logo-type">
                <h1 class="site-title">Advanced Weather</h1>
            </div>

        </a>

        {% include "::inc/nav.html.twig" %}
    </div>
</nav>

