 <div class="navbar-right-buttons">
     <a class="nav-bar-button-login" href="{{ path('fos_user_security_login') }}">Login</a>
     <span>|</span>
     <a class="nav-bar-button-register" href="{{ path('fos_user_registration_register') }}">Register</a>
 </div>

