<div class="main-navigation">
    <ul class="nav navbar-nav navbar-left menu">
        <li class="menu-item">
            <a href="#">Weather</a>
        </li>
        <li class="menu-item">
            <a href="#">Providers</a>
        </li>
        <li class="menu-item">
            <a href="#">API</a>
        </li>
        <li class="menu-item">
            <a href="#">Contacts</a>
        </li>
    </ul>
    {% if app.user is not null %}
        {% include "::inc/user_nav.html.twig" %}
    {% else %}
        {% include "::inc/header_actions.html.twig" %}
    {% endif %}
</div>