.main-content {

  padding-bottom: 9px;
  margin: 70px 0 20px;

}
.weather-table-wrapper
{
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 48px;
  padding-bottom: 48px;
}
#weather-table
{
  border: 1px solid #ddd;

}
#weather-table ul
{
  list-style: none;
  padding-left: 1px;
}
#weather-table li
{
  line-height: 2;

}
#weather-table th{
  background-color: #222;
  color:#f7f7f7;
  text-align: center;
}
#weather-table td{
  background-color: #fff;
  padding-top: 14px;
}
#weather-table tr{
  text-align: center;
}


